*,html,header {
    padding: 0px;
    margin: 0px;
}

/* CSS UTAMA */

.sponsor {
    background-color: black;
    color: white;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.sponsor img {
    width: 60px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex-direction: row;
}

.navbar{
    background-color: red;
    padding: 1em;
    height: 25px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 1px;
    margin: 0px;
    justify-content: flex-start;
    font-size: 20px;
}

.navbar ul li a {
    color: white;
}

.emyu {
    justify-content: center;
    align-items: center;
    height: 350px;
    display: flex;
    background-image: url('./assets/backgroundfix.png');
    background-size: 2000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -150px;
}

.textmu p {
    text-align: center;
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
    
}

aside {
    width: 20%;
}

.emyu img {
    width: 280px;
}

.slasher {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.slasher h1 {
    color: red;
}

.slasher h2 {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 30px;
}

.konten {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    padding: 20px;
}

.card1, .card2, .card3 {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 120px;
    text-align: center;
    width: 300px;
}


footer {
    background-color: rgb(34, 31, 31);
    /* display: block; */
    justify-content: center;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    
}

footer p {
    color: red;
    text-align: center;
}


.main {
    background-color: black;
    color: wheat;
}

.main h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    justify-self: center;
    
}


/* CSS TAB SEJARAH */

.cards{
    background-color: black;
}

.cards-content {
    justify-items: center;
    padding-bottom: 90px;
}

.cards img {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slashers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.slashers h1 {
    color: red;
}
 
.slashers h2 {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 30px;
    color: white;
}

.cards-button {
    background-color: #000000;
    border: none;
    color: wheat;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 50%;
}

#penjelasan1, #penjelasan2,#penjelasan3,#penjelasan4,#penjelasan5,#penjelasan6,#penjelasan7,#penjelasan8,#penjelasan9,#penjelasan10,#penjelasan11,#penjelasan12{
    justify-items: center;
    text-align: justify;
    width: 650px;
    background-color: #000000;
}





/* CSS TAB PENGHARGAAN */

.penghargaan{
    justify-items: center;
    padding-bottom: 90px;
}

.penghargaan img {
    width: 450px;
}




/* CSS TAB BERITA */

.berita {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: justify;
    width: 650px;   
    padding-bottom: 50px;
}

.berita img {
    padding-top: 50px;
    padding-bottom: 25px;
    height: 350px;
}

.berita h2 {
    font-size: 35px;
}



/* CSS PEMAIN */
nama{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: red;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color:#fff;
}
